<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>patient profile </h1>

    <p><strong>Name:</strong> {{ patient.user.first_name }}</p>
    <p><strong>Phone:</strong> {{ patient.user.phone_number }}</p>
    <p><strong>Age:</strong> {{ patient.age }}</p>
    <p><strong>Address:</strong> {{ patient.address }}</p>


</body>
</html>